@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.music-player-play-btn,
.music-player-btn {
    font-size: 40px;
}

.songDetail-wrapper-playPause {
    color: #04f589d0;
}

@media (max-width: 768px) and (min-width: 400px) {
    * {
        text-wrap: nowrap;
    }

    .wrapper {
        flex-direction: column;
    }
    .main {
        width: 90%;
    }

    /* MusicDetails */
    .musicRadioWrapper {
        width: 100%;
        min-height: 500px;
    }

    .musicRadioInitialText {
        margin-top: 180px;
        font-size: 70px;
        text-wrap: wrap;
    }
    .music-player-title {
        font-size: 100px;
        margin-top: 20px;
    }
    .music-player-artist {
        font-size: 30px;
        margin-top: 20px;
    }
    .music-player-progress {
        font-size: 25px;
        margin: 30px 0 30px 0;
    }

    .music-player-volume-container {
        margin-top: 40px;
    }

    .music-player-btn {
        font-size: 55px;
        margin-top: 10px;
    }
    .music-player-play-btn {
        font-size: 75px;
        margin-top: 10px;
    }

    /* NavBar */

    .navBar-title {
        font-size: 22px;
    }

    /* ALLSONG  */
    .allSongWrapper {
        width: 100%;
        max-height: 600px;
    }

    .allSongs-title {
        font-size: 50px;
    }
    .songDetail-wrapper {
        height: 100px;
    }
    .songDetail-wrapper-title,
    .songDetail-wrapper-duration {
        font-size: 22px;
    }
    .songDetail-wrapper-playPause {
        font-size: 21px;
        color: #04f589d0;
    }

    /* playlist */
    .playlistWrapper {
        width: 100%;
        max-height: 700px;
    }
    .createPlaylist-list {
        max-height: 200px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
*{
text-wrap: nowrap;
}
    
    .wrapper {
        flex-direction: column;
    }
    .main {
        width: 70%;
    }
    .musicRadioWrapper {
        width: 100%;
        min-height: 300px;
    }

    .musicRadioInitialText {
        margin-top: 100px;
        font-size: 50px;
    }
    .allSongWrapper {
        width: 100%;
    }
    .playlistWrapper {
        width: 100%;
    }
}

@media (max-width: 399px) {
    * {
        text-wrap: nowrap;
    }

    .wrapper {
        flex-direction: column;
    }

    .main {
        width: 90%;
    }

    /* MusicDetails */
    .musicRadioWrapper {
        width: 100%;
        min-height: 400px;
        padding: 2px;
    }

    .musicRadioInitialText {
        margin-top: 100px;
        font-size: 70px;
        text-wrap: wrap;
    }
    .music-player-title {
        font-size: 80px;
        margin-top: 40px;
    }
    .music-player-artist {
        font-size: 20px;
        margin-top: 10px;
    }
    .music-player-progress {
        font-size: 20px;
        margin: 20px 0 20px 0;
    }

    .music-player-volume-container {
        margin-top: 30px;
    }
    /* NavBar */

    .navBar-title {
        font-size: 18px;
    }

    /* .navbar-right{
        
    } */

    .navBar-title-allSongs,
    .navBar-title-playlist {
        font-size: 16px;
        padding: 2px;
    }

    /* ALLSONG  */
    .allSongWrapper {
        width: 100%;
        max-height: 600px;
    }

    /* playlist */
    .playlistWrapper {
        width: 100%;
        max-height: 700px;
    }
    .createPlaylist-list {
        max-height: 200px;
    }
}
